.grid-container {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    padding: 10px;
    display: none;
    visibility: hidden;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}